name: model-training
on:
  pull_request:
    types: [opened, synchronize, reopened]
jobs:
  model-training:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-python@v2
        name: Setup Python
        with:
          python-version: "3.9"

      - run: pip install -r requirements.txt
        name: Install Requirements

      - run: python src/train.py
        name: Train Model

      - uses: actions/upload-artifact@v2
        name: Upload Model
        with:
          name: baummethoden_lr.pickle
          path: data/models/baummethoden_lr.pickle
